.cg-form-wrapper{
    padding:30px 0 100px 0;
    h2{
        display:block;
        font-size:25px;
        line-height:25px;
        font-weight:300;
        margin-bottom:30px;
        text-align:center;
    }
    .container{
        max-width:450px;
        padding:30px;
        border:1px solid $light_gray;
    }
    .field{
        margin-top:15px;
        &:first-child{
            margin-top:0;
        }
    }
    label{
        display:block;
        font-size:12px;
        font-weight:500;
        padding-bottom:5px;
    }
    input{
        width:100%;
        height:40px;
        font-family:"Montserrat", sans-serif;
        font-size:14px;
        padding:0 10px;
        border:1px solid #ddd;
        @include transition(border-color 0.6s $easeOutExpo);
        &:focus{
            outline:none;
            border-color:$light_blue;
        }
    }
    input[type="email"]{
        background:url(../img/email-icon.png) no-repeat 10px center;
        background-size:auto 16px;
        padding-left:36px;
    }
    input[type="password"]{
        background:url(../img/secure-icon.png) no-repeat 10px center;
        background-size:auto 16px;
        padding-left:36px;
    }
    button{
        width:100%;
        height:50px;
        border:none;
        border-radius:0;
        font-family:"Montserrat", sans-serif;
        font-size:14px;
        font-weight:600;
        background:$blue;
        color:white;
        margin-top:20px;
        cursor:pointer;
        @include transition(background 0.6s $easeOutExpo);
        &:hover{
            background:lighten($blue, 15%);
        }
    }
    .btn-group{
        .btn-fb{
            display:inline-block;
            text-align:center;
            width:100%;
            height:50px;
            border:none;
            border-radius:0;
            font-size:14px;
            line-height:50px;
            font-weight:500;
            background:#4468b0;
            color:white;
            @include transition(background 0.6s $easeOutExpo);
            &:hover{
                background:lighten(#4468b0, 5%);
            }
            img{
                vertical-align:-2px;
                margin-right:10px;
            }
        }
    }
    .remember-me{
        display:inline-block;
        margin-top:4px;
        font-size:14px;
        input{
            padding:0;
            margin:0;
            width:16px;
            vertical-align:-13px;
        }
    }
    .forgot-password{
        display:inline-block;
        margin-top:15px;
        float:right;
        font-size:14px;
        a{
            color:$blue;
            &:hover{
                text-decoration:underline;
            }
        }
    }
    .or-divider{
        position:relative;
        margin:15px 0;
        text-align:center;
        span{
            display:inline-block;
            padding:0 10px;
            background:white;
            &:before{
                content:"";
                position:absolute;
                z-index:-1;
                left:0;
                top:50%;
                width:100%;
                height:1px;
                background:$light_gray;
            }
        }
    }
    .cg-form-sign-up-link{
        margin-top:30px;
        font-size:14px;
        text-align:center;
        a{
            color:$blue;
            &:hover{
                text-decoration:underline;
            }
        }
    }
}