$easeOutExpo:cubic-bezier(0.19, 1, 0.22, 1); /* easeOutExpo */
$easeInOutExpo:cubic-bezier(1.000, 0.000, 0.000, 1.000); /* easeInOutExpo */

$primary:#252525;
$secondary:#636363;
$blue:#00a651;
$light_blue:#4783fc;
$light_gray:#ddd;
$green:#38a447;
$light_green:#65d475;

